.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  padding-top: 51px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
}

.card__content {
  background-color: #fff;
  border-radius: 13px 13px 10px 10px;
  height: 361px;
  width: 281px;
  box-sizing: border-box;
}

.card__text-yosemite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.card__text-lake-louise {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 79px;
}

.card__text-bald-mountains {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.card__text-latemar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 121px;
}

.card__text-vanoise {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.card__text-vanoise-p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
  max-height: 29px;
}

.card__text-lago {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.card__image-button {
  background-image: url("../images/heart.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  background-color: #fff;
  transition: background-image 0.3s linear;
}

.card__image-button:hover {
  background-image: url("../images/heart-hover.svg");
}

.card__image-yosemite {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-lake-louise {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-bald-mountains {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-latemar {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-vanoise {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-lago {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 934px) {
  .card__image-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
  }
}

@media screen and (max-width: 635px) {
  .card__image-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
  }
}
