.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  padding-top: 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
}

.card {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  min-height: 361px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.card__text-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
  margin-left: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.card__like-button {
  background-image: url("../images/heart-disabled.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  background-color: #fff;
  transition: opacity 0.4s ease-in-out;
  margin-left: auto;
  margin-right: 20px;
}

.card__like-button_active {
  background-image: url("../images/heart-active.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  background-color: #fff;
  margin-left: auto;
  margin-right: 20px;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background-image: url("../images/delete.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19.3px;
  position: absolute;
  right: 15px;
  top: 18px;
  transition: opacity 0.4s ease-in-out;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
}
