.footer {
  margin: 67px 562px 60px 0;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21px;
}

@media screen and (max-width: 934px) {
  .footer {
    margin: 0 auto;
    max-width: 581px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    margin: 48px 0 36px;
  }
}

@media screen and (max-width: 635px) {
  .footer {
    max-width: 282px;
  }
}
