.modal {
  visibility: hidden;
  opacity: 0;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  transition: visibility 0.5s, opacity 0.7s ease;
  display: flex;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 430px;
  height: 366px;
  padding: 36px;
  box-sizing: border-box;
}

.modal__container_preview-image {
  background-color: rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__image-wrapper {
  position: relative;
}

.modal__preview-image-title {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  margin-top: 10px;
}

.modal__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url("../images/close-button.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  transition: opacity 0.4s ease;
}

.modal__close-button_preview-image {
  position: absolute;
  right: -45px;
  top: -50px;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form_error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
}

.modal__heading {
  margin-bottom: 54px;
  line-height: 29.05px;
  width: 330px;
  height: 23px;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.modal__label {
  position: relative;
}

.modal__form-input {
  border: none;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13.26px;
  width: 100%;
}

.modal__form-input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error_visible {
  visibility: visible;
}

.modal__save-button {
  margin-top: 13px;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  line-height: 21.78px;
  transition: opacity 0.4s ease;
}

.modal__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__save-button_disabled {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 635px) {
  .modal__container {
    width: 88.12%;
    height: 322px;
  }

  .modal__heading {
    margin-bottom: 54px;
    padding-left: 7%;
    line-height: 29.05px;
    max-width: 238px;
    height: 23px;
  }

  .modal__close-button {
    position: absolute;
    top: -31px;
    right: 8px;
    width: 26px;
    height: 26px;
  }

  .modal__save-button {
    width: 100%;
    height: 46px;
  }
}

@media screen and (max-width: 595px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__heading {
    line-height: 21.78px;
    font-size: 18px;
    width: 238px;
  }

  /* .modal__close-button_preview-image {
    position: absolute;
    right: -33px;
    top: -35px;
    height: 30px;
    width: 30px; 
} */
}
