.header {
  background-color: #000;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  padding-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 635px) {
  .header {
    margin: 0 auto;
    width: 100%;
    padding-top: 0;
  }

  .header__logo {
    padding: 28px 151px 32px 27px;
    width: 126px;
    height: 24px;
  }
}
